<?xml version="1.0" encoding="utf-8"?>
<config 
license="YC0UR07C79L8RR1IIQKYIK3HPCONTUS"
stagecolor1="0x666666" 
stagecolor2="0x000000" 
autoplay="false"
buffer="2"
Volume="50" 
fullscreenscale="0"
normalscale="0" 
logopath=""
logoalpha="50" 
logoalign="BR" 
Download="false"
logo_target="http://www.hdflvplayer.net/"
skin="http://localhost/standplayer/hdflvplayer/skin/skin_black.swf"
skin_autohide="true"
languageXML="http://localhost/standplayer/hdflvplayer/xml/language.xml"
playlistXML="http://localhost/standplayer/hdflvplayer/xml/playlist.xml"
playlist_open="false"
showPlaylist ="true"
HD_default="false" 
vast="false"
vast_partnerid=""
streamer=""
adXML="http://localhost/standplayer/hdflvplayer/xml/ads.xml"
preroll_ads="true"
postroll_ads="false"
midrollXML="http://localhost/standplayer/hdflvplayer/addons/midroll/xml/midroll.xml"
midroll_ads="true" 
cssURL="http://localhost/standplayer/hdflvplayer/addons/midroll/css/midrollformat.css"
shareURL="http://localhost/standplayer/hdflvplayer/email.php"
embed_visible="true"
UseYouTubeApi="flash"
videoshareURL="videourl.php"
scaleToHideLogo="true"
debug="true">
<timer>true</timer>
<zoom>true</zoom>
<email>true</email>
<fullscreen>true</fullscreen>
<defaultTest>test</defaultTest>
</config>