<?xml version="1.0" encoding="utf-8"?>
<config
license="Key provided for commercial version"
autoplay="true"
playlist_open="false"
buffer="2"
fullscreenscale="0"
normalscale="0"
logopath=""
logo_target="http://www.hdflvplayer.net/"
logoalpha="50"
logoalign="BR"
Volume="50"
preroll_ads="false"
postroll_ads="false"
midroll_ads="true"
HD_default="false"
Download="false"
skin_autohide="true"
stagecolor1="0x666666"
stagecolor2="0x000000"
skin="skin/skin_fresh_white.swf"
embed_visible="true"
playlistXML="xml/playlist.xml"
adXML="xml/ads.xml"
midrollXML="addons/midroll/xml/midroll.xml"
languageXML="xml/language.xml"
cssURL="addons/midroll/css/midrollformat.css"
debug="true"
shareURL="email.php"
videoshareURL="videourl.php"
showPlaylist ="true"
vast="false"
scaleToHideLogo="true"

vast_partnerid=""
streamer=""
UseYouTubeApi="flash">
<timer>true</timer>
<zoom>true</zoom>
<email>true</email>
<fullscreen>true</fullscreen>
<defaultTest>test</defaultTest>
</config>