<?xml version="1.0" encoding="utf-8"?>
<config
license=""
trackCode=""
autoplay="true"
playlist_open="true"
buffer="3"
fullscreenscale="2"
normalscale="2"
logopath=""
logo_target=""
logoalpha="100"
logoalign="BL"
Volume="95"
preroll_ads="false"
postroll_ads="false"
midroll_ads="false"
HD_default="true"
Download="true"
skin_autohide="false"
stagecolor="0x000000"
skin="skin/skin_black.swf"
embed_visible="true"
playlistXML="xml/playlist.xml"
adXML="xml/ads.xml"
midrollXML="xml/midroll.xml"
languageXML="xml/language.xml"
debug="true"
shareURL="email.php"
downloadUrl="download.php"
showPlaylist ="true"
IMAAds="false"
scaleToHideLogo="true"
IMAadsXML="">
<timer>true</timer>
<zoom>false</zoom>
<email>true</email>
<fullscreen>true</fullscreen>
</config>